body {
    background-color: #171A14;
}

img {
    height: 300px;
    width: 300px;
}

.container {
    min-height: 100vh;
    display: flex ;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
}
